<!-- footer -->
<footer class="footer">
  <div class="container footer__inner">
    <div class="footer__body">{{> footer-menu}}</div>
    <div class="footer__extra">
      <div class="footer__extra-menu">
        <ul class="footer__extra-menu-list">
          <li class="footer__extra-menu-item">
            <a href="#" class="footer__extra-menu-link">Terms & Conditions</a>
            </li>
          <li class="footer__extra-menu-item">
            <a href="#" class="footer__extra-menu-link">Privacy Policy</a>
            </li>
        </ul>  
      </div>

      <div class="footer__socia1s socia1s">
        <ul class="socia1s__list">
          <li class="socia1s__item">
            <a href="#" class="socia1s__link" aria-label="X" title="X">
                <svg class="sprite-icon" aria-hidden="true">
                  <use xlink:href="src/assets/icons/sprite.svg#x-icon"></use>
                </svg>          
          </a></li>
          <li class="socia1s__item">
            <a href="#" class="socia1s__link" aria-label="Medium" title="Medium">
                     <svg class="sprite-icon" aria-hidden="true">
                  <use xlink:href="src/assets/icons/sprite.svg#medium-icon"></use>
                </svg>        
          </a></li>
          <li class="socia1s__item">
            <a href="#" class="socia1s__link" aria-label="LinkedIn" title="LinkedIn">
                 <svg class="sprite-icon" aria-hidden="true">
                  <use xlink:href="src/assets/icons/sprite.svg#in-icon"></use>
                </svg>            
          </a></li>
        </ul>
      </div>
      <p class="footer__copyright">© <time datetime="2025">2025</time> FutureTech. All rights reserved.</p>
    </div>
  </div>
</footer>


    <div id="overlay"></div>
    <script type="module" src="/src/js/main.js"></script>
  </body>
</html>

