<!-- header -->
<header class='header' data-js-header>
  <div class='header__promo'>
    <div class='header__promo-inner container'>
      <a href='#' class='header__promo-link'>
        <span class='icon icon--arrow icon--arrow-yellow'>
          Subscribe to our Newsletter
        </span>
      </a>
    </div>
  </div>
  <div class='header__body'>
    <div class='header__body-inner container'>
      <a href='/' class='logo header__logo' title='Home' aria-label='Home'>
        <img
          src='/src/assets/img/logo/logo.svg'
          class='logo__img'
          alt=''
          width='179'
          height='50'
        /></a>
      <div class='header__overlay' data-js-header-overlay>
        <nav class='header__menu'>
          <ul class='header__menu-list'>
            <li class='header__menu-item'><a
                href='/'
                class='header__menu-link'
              >Home</a></li>
            <li class='header__menu-item'><a
                href='./news.html'
                class='header__menu-link'
              >News</a></li>
            <li class='header__menu-item'><a
                href='./podcasts.html'
                class='header__menu-link'
              >Podcasts</a></li>
            <li class='header__menu-item'><a
                href='./resources.html'
                class='header__menu-link'
              >Resources</a></li>
          </ul>
        </nav>
        <a
          href='./contacts.html'
          class='btn btn--accent header__contact-us-link'
        >contact us</a>
      </div>
      <button
        type='button'
        class='burger-btn header__burger-btn visible-mobile'
        id='burger-btn'
        title='Open menu'
        aria-label='Open menu'
        data-js-header-burger-btn
      >
        <span class='burger-btn__line'></span>
        <span class='burger-btn__line'></span>
        <span class='burger-btn__line'></span>
      </button>
    </div>

  </div>

</header>