<div class="modal modal_subscribe">
  <span class="modal__close-btn" id="close-modal-btn">✕</span>
  <div class="modal__content">
    <p class="modal__title">Submission successful!</p>
    <p class="modal__text">
      We appreciate your input. A confirmation email has been sent to your
      provided address.
    </p>
  </div>
</div>
