<section class='hero-alt' aria-labelledby='news-title'>
  <header class='hero-alt__header'>
    <div class='hero-alt__header-inner container'>
      <h1 class='hero-alt__title' id='news-title'>Today's Headlines: Stay
        <span
          class='hero-alt__title-hidden-segment visible-mobile'
        >Informed</span>
      </h1>
      <p
        class='hero-alt__title-segment h1 hidden-mobile'
        aria-hidden='true'
      >Informed</p>
      <p class='hero-alt__description'>Explore the latest news from around the
        world. We bring you up-to-the-minute updates on the most significant
        events, trends, and stories. Discover the world through our news
        coverage.</p>
    </div>

  </header>
  <div class='hero-alt__body'>
    <ul class='list'>
      <li class='list__item'>
        <article class='news-card container'>
          <img
            src='/src/assets/img/news/news-1.jpg'
            alt='Global Climate Summit'
            class='news-card__img'
            width='512'
            height='425'
            loading='lazy'
          />
          <div class='news-card__body'>
            <h2 class='news-card__title'>
              Global Climate Summit Addresses Urgent Climate Action
            </h2>
            <div class='news-card__description'>
              <p>World leaders gathered at the Global Climate Summit to discuss
                urgent climate action, emissions reductions, and renewable
                energy targets.</p>
            </div>
          </div>
          <div class='news-card__summary summary'>
            <dl class='summary__list'>
              <div class='summary__item'>
                <dt class='summary__title'>Category</dt>
                <dd class='summary__value'>Environment</dd>
              </div>
              <div class='summary__item'>
                <dt class='summary__title'>Publication Date</dt>
                <dd class='summary__value'>
                  <time datetime='2024-10-10'>October 10, 2024 </time>
                </dd>
              </div>
              <div class='summary__item'>
                <dt class='summary__title'>Author</dt>
                <dd class='summary__value'>Jane Smith</dd>
              </div>
            </dl>
          </div>
          <div class='news-card__controls'>
            <div class='news-card__actions blog-actions'>
              <ul class='blog-actions__list'>
                <li class='blog-actions__item'>
                  <button
                    type='button'
                    class='blog-actions__btn is-active'
                    title='Dislike'
                    aria-label='Dislike'
                  >
                    <span class='blog-actions__icon-wrapper'>
                      <svg class='sprite-icon' aria-hidden='true'>
                        <use
                          xlink:href='src/assets/icons/sprite.svg#heart-stroke-icon'
                        ></use>
                      </svg>
                    </span>
                    <span>14.5k</span>
                  </button>
                </li>
                <li class='blog-actions__item'>
                  <button
                    type='button'
                    class='blog-actions__btn'
                    title='Share'
                    aria-label='Share'
                  >
                    <span class='blog-actions__icon-wrapper'>
                      <svg class='sprite-icon' aria-hidden='true'>
                        <use
                          xlink:href='src/assets/icons/sprite.svg#share-icon'
                        ></use>
                      </svg>
                    </span>
                    <span>251</span>
                  </button>
                </li>
              </ul>
            </div>
            <a href='#' class='news-card__link btn'>Read More</a>
          </div>

        </article>
      </li>
      <li class='list__item'>
        <div class='news container'>
          <ul class='news__list'>
            <li class='news__item'>
              <article class='news-card'>
                <img
                  src='/src/assets/img/news/news-2.jpg'
                  alt='A Decisive Victory for Progressive Policies'
                  class='news-card__img'
                  width='512'
                  height='222'
                  loading='lazy'
                />
                <div class='news-card__body'>
                  <h2 class='news-card__title h6'>
                    A Decisive Victory for Progressive Policies
                  </h2>
                  <div class='news-card__description'>
                    <p>Politics</p>
                  </div>
                </div>
                <div class='news-card__controls'>
                  <div class='news-card__actions blog-actions'>
                    <ul class='blog-actions__list'>
                      <li class='blog-actions__item'>
                        <button
                          type='button'
                          class='blog-actions__btn'
                          title='Like'
                          aria-label='Like'
                        >
                          <span class='blog-actions__icon-wrapper'>
                            <svg class='sprite-icon' aria-hidden='true'>
                              <use
                                xlink:href='src/assets/icons/sprite.svg#heart-stroke-icon'
                              ></use>
                            </svg>
                          </span>
                          <span>14.5k</span>
                        </button>
                      </li>
                      <li class='blog-actions__item'>
                        <button
                          type='button'
                          class='blog-actions__btn'
                          title='Share'
                          aria-label='Share'
                        >
                          <span class='blog-actions__icon-wrapper'>
                            <svg class='sprite-icon' aria-hidden='true'>
                              <use
                                xlink:href='src/assets/icons/sprite.svg#share-icon'
                              ></use>
                            </svg>
                          </span>
                          <span>251</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                  <a href='#' class='news-card__link btn'>Read More
                    <span
                      class='icon icon--arrow icon--arrow-yellow'
                    ></span></a>
                </div>

              </article>
            </li>
            <li class='news__item'>
              <article class='news-card'>
                <img
                  src='/src/assets/img/news/news-3.jpg'
                  alt='Tech Giants Unveil Cutting-Edge AI Innovations'
                  class='news-card__img'
                  width='512'
                  height='222'
                  loading='lazy'
                />
                <div class='news-card__body'>
                  <h2 class='news-card__title h6'>
                    Tech Giants Unveil Cutting-Edge AI Innovations
                  </h2>
                  <div class='news-card__description'>
                    <p>Technology</p>
                  </div>
                </div>
                <div class='news-card__controls'>
                  <div class='news-card__actions blog-actions'>
                    <ul class='blog-actions__list'>
                      <li class='blog-actions__item'>
                        <button
                          type='button'
                          class='blog-actions__btn'
                          title='Like'
                          aria-label='Like'
                        >
                          <span class='blog-actions__icon-wrapper'>
                            <svg class='sprite-icon' aria-hidden='true'>
                              <use
                                xlink:href='src/assets/icons/sprite.svg#heart-stroke-icon'
                              ></use>
                            </svg>
                          </span>
                          <span>11k</span>
                        </button>
                      </li>
                      <li class='blog-actions__item'>
                        <button
                          type='button'
                          class='blog-actions__btn'
                          title='Share'
                          aria-label='Share'
                        >
                          <span class='blog-actions__icon-wrapper'>
                            <svg class='sprite-icon' aria-hidden='true'>
                              <use
                                xlink:href='src/assets/icons/sprite.svg#share-icon'
                              ></use>
                            </svg>
                          </span>
                          <span>54</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                  <a href='#' class='news-card__link btn'>Read More
                    <span
                      class='icon icon--arrow icon--arrow-yellow'
                    ></span></a>
                </div>

              </article>
            </li>
            <li class='news__item'>
              <article class='news-card'>
                <img
                  src='/src/assets/img/news/news-4.jpg'
                  alt='COVID-19 Variants'
                  class='news-card__img'
                  width='512'
                  height='222'
                  loading='lazy'
                />
                <div class='news-card__body'>
                  <h2 class='news-card__title h6'>
                    COVID-19 Variants
                  </h2>
                  <div class='news-card__description'>
                    <p>Health</p>
                  </div>
                </div>
                <div class='news-card__controls'>
                  <div class='news-card__actions blog-actions'>
                    <ul class='blog-actions__list'>
                      <li class='blog-actions__item'>
                        <button
                          type='button'
                          class='blog-actions__btn'
                          title='Like'
                          aria-label='Like'
                        >
                          <span class='blog-actions__icon-wrapper'>
                            <svg class='sprite-icon' aria-hidden='true'>
                              <use
                                xlink:href='src/assets/icons/sprite.svg#heart-stroke-icon'
                              ></use>
                            </svg>
                          </span>
                          <span>14.5k</span>
                        </button>
                      </li>
                      <li class='blog-actions__item'>
                        <button
                          type='button'
                          class='blog-actions__btn'
                          title='Share'
                          aria-label='Share'
                        >
                          <span class='blog-actions__icon-wrapper'>
                            <svg class='sprite-icon' aria-hidden='true'>
                              <use
                                xlink:href='src/assets/icons/sprite.svg#share-icon'
                              ></use>
                            </svg>
                          </span>
                          <span>251</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                  <a href='#' class='news-card__link btn'>Read More
                    <span
                      class='icon icon--arrow icon--arrow-yellow'
                    ></span></a>
                </div>

              </article>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>