<section class='section' aria-labelledby='videos-title'>
  <div class='section__header'>
    <div class='section__header-inner container'>
      <div class='section__header-info'>
        <div class='section__subtitle tag'><p>Featured Videos</p></div>
        <h2 class='section__title h2' id='videos-title'>Visual Insights for the
          Modern Viewer</h2>
      </div>
      <div class='section__actions'>
        <a href='#' class='btn btn--section section__link'>View All
          <span class='icon icon--arrow icon--arrow-yellow'></span></a>
      </div>
    </div>
  </div>
  <div class='section__body'>
    <ul class='bordered-grid bordered-grid--2-cols container'>
      {{> videos-cards}}
    </ul>

  </div>
</section>