@use '../helpers' as *;

.feedback-form {
  display: grid;
  gap: fluid(50, 20) 50px;

  @include mobile-s-above {
    grid-template-columns: repeat(2, 1fr);
  }

  &__cell {
  }

  &__cell--full-width {
    grid-column: 1 / -1;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    @include mobile-s {
      flex-direction: column;
      align-items: stretch;
      gap: 20px;
    }
  }

  &__agreement {
  }

  &__submit-button {
    min-width: 140px;
  }
}
