@use '../helpers' as *;

.hero-alt {
  &__header {
    padding-block: fluid(130, 40);
    border-bottom: var(--border);
  }

  &__header-inner {
    display: grid;
    gap: 20px 80px;

    @include laptop {
      gap: 20px 60px;
    }

    @include mobile-above {
      grid-template-columns: auto 1fr;
      align-items: center;
    }

    @include mobile {
      gap: 14px 0;
    }
  }

  &__title {
    @include fluid-text(80, 28);

    grid-column: 1 / -1;
  }

  &__title-hidden-segment {
  }

  &__title-segment {
    @include fluid-text(80, 28);
  }

  &__description {
  }

  &__body {
  }
}
