<div class='select' data-js-select>
  <label
    class='select__label visually-hidden'
    for='PhoneNumberPrefix'
    id='phone-num-prefix-select-label'
  >Phone number prefix</label>
  <select
    class='select__original-control field__control'
    name=''
    id='PhoneNumberPrefix'
    tabindex='-1'
    data-js-select-original-control
  >
    <option value='+1' selected>+1</option>
    <option value='+2'>+2</option>
    <option value='+3'>+3</option>
    <option value='+4'>+4</option>
  </select>

  <div class='select__body'>
    <div
      class='select__button field__control'
      tabindex='0'
      role='combobox'
      aria-expanded='false'
      aria-haspopup='listbox'
      aria-controls='phone-num-prefix-select-dropdown'
      aria-labelledby='phone-num-prefix-select-label'
      data-js-select-button
    >+1</div>

    <div
      class='select__dropdown'
      role='listbox'
      id='phone-num-prefix-select-dropdown'
      aria-labelledby='phone-num-prefix-select-label'
      data-js-select-dropdown
    >
      <div
        class='select__option is-selected is-current'
        id='phone-num-prefix-select-option-1'
        role='option'
        aria-selected='true'
        data-js-select-option
      >+1</div>
      <div
        class='select__option'
        id='phone-num-prefix-select-option-2'
        role='option'
        aria-selected='false'
        data-js-select-option
      >+2</div>
      <div
        class='select__option'
        id='phone-num-prefix-select-option-3'
        role='option'
        aria-selected='false'
        data-js-select-option
      >+3</div>
      <div
        class='select__option'
        id='phone-num-prefix-select-option-4'
        role='option'
        aria-selected='false'
        data-js-select-option
      >+4</div>
    </div>
  </div>
</div>