<section class='hero-alt' aria-labelledby='podcasts-title'>
  <header class='hero-alt__header'>
    <div class='hero-alt__header-inner container'>
      <h1 class='hero-alt__title' id='podcasts-title'>Unlock the World of
        Artificial Intelligence
        <span class='hero-alt__title-hidden-segment visible-mobile'>through
          Podcasts</span>
      </h1>
      <p
        class='hero-alt__title-segment h1 hidden-mobile'
        aria-hidden='true'
      >through Podcasts</p>
      <p class='hero-alt__description'>Dive deep into the AI universe with our
        collection of insightful podcasts. Explore the latest trends,
        breakthroughs, and discussions on artificial intelligence. Whether
        you're an enthusiast or a professional, our AI podcasts offer a gateway
        to knowledge and innovation.</p>
    </div>
  </header>
  <div class='hero-alt__body'>
    <ul class='list'>
      <li class='list__item'>
        <div class='card container'>
          <div class='card__preview'>
            <div class='card__preview-main'>
              <img
                src='/src/assets/img/podcasts/icon-1.svg'
                class='card__preview-icon'
                alt='card icon'
                width='80'
                height='80'
                loading='lazy'
              />
              <div class='card__preview-info'>
                <h2 class='h3 card__preview-title'>AI Revolution</h2>
                <div
                  class='card__rating-view rating-view'
                  aria-label='Rating 5 stars'
                  title='Rating 5 stars'
                >
                  <span class='rating-view__star icon icon--star is-active'>
                  </span>
                  <span class='rating-view__star icon icon--star is-active'>
                  </span>
                  <span class='rating-view__star icon icon--star is-active'>
                  </span>
                  <span class='rating-view__star icon icon--star is-active'>
                  </span>
                  <span class='rating-view__star icon icon--star is-active'>
                  </span>
                </div>
              </div>
            </div>
            <div class='card__preview-extra'>
              <div class='card__cell tile'>
                <h3 class='h4 card__cell-subtitle'>Host</h3>
                <p class='card__cell-description h6'>Dr. Sarah Mitchell</p>
                <a href='#' class='btn btn--card-cell card__cell-link'>Listen
                  Podcast
                  <span class='icon icon--arrow icon--arrow-yellow'></span></a>
              </div>
            </div>
          </div>
          <div class='card__body'>
            <div class='card__grid card__grid--3-cols'>
              <div class='card__cell card__cell--full-width'>
                <div class='video-player' data-js-video-player>
                  <video
                    src='/sample-video.mp4'
                    class='video-player__video'
                    width='917'
                    height='412'
                    loop
                    poster='/src/assets/img/podcasts/thumb-1.jpg'
                    data-js-video-player-video
                  ></video>
                  <div
                    class='video-player__controls video-player__controls--center is-active'
                    data-js-video-player-controls
                  >
                    <button
                      class='video-player__play-btn'
                      type='button'
                      title='Play'
                      aria-label='Play'
                      data-js-video-player-play-btn
                    >
                      <svg class='sprite-icon' aria-hidden='true'>
                        <use
                          xlink:href='src/assets/icons/sprite.svg#play-icon'
                        ></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <div class='card__cell card__cell--full-width'>
                <h3 class='h4 card__cell-title'>Delves into the transformative
                  impact of AI</h3>
                <p class='card__cell-description'>Join Dr. Sarah Mitchell as she
                  delves into the transformative impact of AI on industries,
                  featuring expert interviews and real-world case studies.
                  Explore the possibilities of AI in healthcare, finance, and
                  more.</p>
              </div>
              <div class='card__cell tile'>
                <h4 class='card__cell-subtitle'>Total Episodes</h4>
                <p class='card__cell-description h6'>50</p>
              </div>
              <div class='card__cell tile'>
                <h4 class='card__cell-subtitle'>Average Episode Length</h4>
                <p class='card__cell-description h6'>30 min</p>
              </div>
              <div class='card__cell tile'>
                <h4 class='card__cell-subtitle'>Release Frequency</h4>
                <p class='card__cell-description h6'>Weekly</p>
              </div>
            </div>
          </div>
        </div>

      </li>
      <li class='list__item'>
        <div class='card container'>
          <div class='card__preview'>
            <div class='card__preview-main'>
              <img
                src='/src/assets/img/podcasts/icon-2.svg'
                class='card__preview-icon'
                alt='card icon'
                width='80'
                height='80'
                loading='lazy'
              />
              <div class='card__preview-info'>
                <h2 class='h3 card__preview-title'>AI Conversations</h2>
                <div
                  class='card__rating-view rating-view'
                  aria-label='Rating 5 stars'
                  title='Rating 5 stars'
                >
                  <span class='rating-view__star icon icon--star is-active'>
                  </span>
                  <span class='rating-view__star icon icon--star is-active'>
                  </span>
                  <span class='rating-view__star icon icon--star is-active'>
                  </span>
                  <span class='rating-view__star icon icon--star is-active'>
                  </span>
                  <span class='rating-view__star icon icon--star is-active'>
                  </span>
                </div>
              </div>
            </div>
            <div class='card__preview-extra'>
              <div class='card__cell tile'>
                <h3 class='h4 card__cell-subtitle'>Host</h3>
                <p class='card__cell-description h6'>Mark Anderson</p>
                <a href='#' class='btn btn--card-cell card__cell-link'>Listen
                  Podcast
                  <span class='icon icon--arrow icon--arrow-yellow'></span></a>
              </div>
            </div>
          </div>
          <div class='card__body'>
            <div class='card__grid card__grid--3-cols'>
              <div class='card__cell card__cell--full-width'>
                <div class='video-player' data-js-video-player>
                  <video
                    src='/sample-video.mp4'
                    class='video-player__video'
                    width='917'
                    height='412'
                    loop
                    poster='/src/assets/img/podcasts/thumb-2.jpg'
                    data-js-video-player-video
                  ></video>
                  <div
                    class='video-player__controls video-player__controls--center is-active'
                    data-js-video-player-controls
                  >
                    <button
                      class='video-player__play-btn'
                      type='button'
                      title='Play'
                      aria-label='Play'
                      data-js-video-player-play-btn
                    >
                      <svg class='sprite-icon' aria-hidden='true'>
                        <use
                          xlink:href='src/assets/icons/sprite.svg#play-icon'
                        ></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <div class='card__cell card__cell--full-width'>
                <h3 class='h4 card__cell-title'>Engage in thought-provoking
                  conversations with leading experts.</h3>
                <p class='card__cell-description'>Mark discusses the future of
                  AI, the impact on society, and how it's shaping industries
                  worldwide. Engage in thought-provoking conversations with
                  leading experts.</p>
              </div>
              <div class='card__cell tile'>
                <h4 class='card__cell-subtitle'>Total Episodes</h4>
                <p class='card__cell-description h6'>40</p>
              </div>
              <div class='card__cell tile'>
                <h4 class='card__cell-subtitle'>Average Episode Length</h4>
                <p class='card__cell-description h6'>35 min</p>
              </div>
              <div class='card__cell tile'>
                <h4 class='card__cell-subtitle'>Release Frequency</h4>
                <p class='card__cell-description h6'>Monthly</p>
              </div>
            </div>
          </div>
        </div>

      </li>

    </ul>
  </div>
</section>