<section class='section' aria-labelledby='latest-podcasts-title'>
  <div class='section__header'>
    <div class='section__header-inner container'>
      <div class='section__header-info'>
        <div class='section__subtitle tag'><p>Stay Informed with Fresh Content</p></div>
        <h2 class='section__title h2' id='latest-podcasts-title'>Latest Podcast
          Episodes</h2>
      </div>
    </div>
  </div>
  <div class='section__body'>
    <ul class='bordered-grid bordered-grid--3-cols container'>
      {{> latest-podcasts-card}}
    </ul>

  </div>
</section>