<section
  class='section tabs'
  data-js-tabs
  aria-labelledby='resources-blog-title'
>
  <div class='section__header'>
    <div class='section__header-inner container'>
      <div class='section__header-info'>
        <div class='section__subtitle tag'><p>Dive into the Details</p></div>
        <h2 class='section__title h2' id='resources-blog-title'>In-Depth Reports
          and Analysis</h2>
      </div>
      <div class='section__actions'>
        <div
          class='tabs__buttons tabs__buttons--compact'
          role='tablist'
          aria-labelledby='resources-blog-title'
        >
          <button
            class='tabs__btn is-active'
            type='button'
            id='tab-1'
            role='tab'
            aria-controls='tab-panel-1'
            data-js-tabs-button
            aria-selected='true'
          >Whitepapers</button>
          <button
            class='tabs__btn'
            type='button'
            id='tab-2'
            role='tab'
            aria-controls='tab-panel-2'
            data-js-tabs-button
            aria-selected='false'
            tabindex='-1'
          >Ebooks</button>
          <button
            class='tabs__btn'
            type='button'
            id='tab-3'
            role='tab'
            aria-controls='tab-panel-3'
            data-js-tabs-button
            aria-selected='false'
            tabindex='-1'
          >Reports</button>
        </div>
      </div>
    </div>
  </div>
  <div class='section__body'>
    <div class='tabs__body'>
      <div
        class='tabs__content is-active'
        id='tab-panel-1'
        aria-labelledby='tab-1'
        tabindex='0'
        data-js-tabs-content
      >
        <ul class='list'>
          <li class='list__item'>
            <div class='card container'>
              <div class='card__preview'>
                <div class='card__preview-main'>
                  <img
                    src='/src/assets/img/resources-blog/icon-1.svg'
                    class='card__preview-icon'
                    alt='card icon'
                    width='80'
                    height='80'
                    loading='lazy'
                  />
                  <div class='card__preview-info'>
                    <h3 class='h3 card__preview-title'>Quantum Computing
                      Whitepaper</h3>
                    <div class='card__preview-description'>
                      <p>Provides technical specifications and requirements for
                        implementing quantum computing systems.</p>
                    </div>
                  </div>
                </div>

              </div>
              <div class='card__body'>
                <div class='card__grid card__grid--3-cols-alt'>
                  <div class='card__cell card__cell--full-width'>
                    <img
                      src='/src/assets/img/resources-blog/thumb-1.jpg'
                      alt=''
                      class='card__cell-img'
                      width='100%'
                      height='332'
                      loading='lazy'
                    />
                  </div>
                  <div class='card__cell card__cell--full-width'>
                    <h4 class='card__cell-title'>Quantum Computing Whitepaper</h4>
                    <p class='card__cell-description'>An in-depth whitepaper
                      exploring the principles, applications, and potential
                      impact of quantum computing.</p>
                    <a
                      href='#'
                      class='btn btn--card-cell btn--dark-10 card__cell-link'
                      download=''
                    >Download PDF Now
                      <span
                        class='icon icon--arrow icon--arrow-yellow'
                      ></span></a>
                  </div>
                  <div class='card__cell tile'>
                    <h4 class='card__cell-subtitle'>Publication Date</h4>
                    <p class='card__cell-description h6'><time
                        datetime='2024-07'
                      >July 2024</time></p>
                  </div>
                  <div class='card__cell tile'>
                    <h4 class='card__cell-subtitle'>Category</h4>
                    <p class='card__cell-description h6'>Quantum Computing</p>
                  </div>
                  <div
                    class='card__cell card__cell--full-width-on-mobile-s tile'
                  >
                    <h4 class='card__cell-subtitle'>Author</h4>
                    <p class='card__cell-description h6'>Dr. Quantum</p>
                  </div>
                </div>
              </div>
            </div>

          </li>
          <li class='list__item'>
            <div class='card container'>
              <div class='card__preview'>
                <div class='card__preview-main'>
                  <img
                    src='/src/assets/img/resources-blog/icon-2.svg'
                    class='card__preview-icon'
                    alt='card icon'
                    width='80'
                    height='80'
                    loading='lazy'
                  />
                  <div class='card__preview-info'>
                    <h3 class='card__preview-title'>Space Exploration Whitepaper</h3>
                    <div class='card__preview-description'>
                      <p>Explores Mars colonization, asteroid resource
                        potential, and space tourism.</p>
                    </div>
                  </div>
                </div>

              </div>
              <div class='card__body'>
                <div class='card__grid card__grid--3-cols-alt'>
                  <div class='card__cell card__cell--full-width'>
                    <img
                      src='/src/assets/img/resources-blog/thumb-2.jpg'
                      alt=''
                      class='card__cell-img'
                      width='100%'
                      height='332'
                      loading='lazy'
                    />
                  </div>
                  <div class='card__cell card__cell--full-width'>
                    <h4 class='card__cell-title'>Space Exploration Whitepaper</h4>
                    <p class='card__cell-description'>An in-depth whitepaper
                      covering the latest advancements in space exploration,
                      including Mars missions and asteroid mining.</p>
                    <a
                      href='#'
                      class='btn btn--card-cell btn--dark-10 card__cell-link'
                      download=''
                    >Download PDF Now
                      <span
                        class='icon icon--arrow icon--arrow-yellow'
                      ></span></a>
                  </div>

                  <div class='card__cell tile'>
                    <h4 class='card__cell-subtitle'>Publication Date</h4>
                    <p class='card__cell-description h6'><time
                        datetime='2024-09'
                      >September 2024</time></p>
                  </div>
                  <div class='card__cell tile'>
                    <h4 class='card__cell-subtitle'>Category</h4>
                    <p class='card__cell-description h6'>Space Exploration</p>
                  </div>
                  <div
                    class='card__cell card__cell--full-width-on-mobile-s tile'
                  >
                    <h4 class='card__cell-subtitle'>Author</h4>
                    <p class='card__cell-description h6'>FutureTech Space
                      Division</p>
                  </div>
                </div>
              </div>
            </div>

          </li>
        </ul>
        <ul class='bordered-grid bordered-grid--3-cols container'>
          <li class='bordered-grid__item'>
            <div class='report-card'>
              <div class='report-card__img'>
                <img
                  src='/src/assets/img/resources-blog/thumb-small-1.jpg'
                  alt=''
                  width='470'
                  height='290'
                  loading='lazy'
                />
              </div>
              <div class='report-card__body'>
                <h4 class='h6 report-card__title'>FutureTech Trends 2025</h4>
                <div class='report-card__description'>
                  <p>An ebook that predicts upcoming technology trends for the
                    next year, including AI developments</p>
                </div>
              </div>
              <div class='report-card__actions'>
                <a href='#' class='btn report-card__details-link'>View Details
                </a>
                <a
                  href='#'
                  class='btn btn--dark-10 report-card__download-link'
                  download
                >Download PDF Now
                </a>
              </div>
            </div>
          </li>
          <li class='bordered-grid__item'>
            <div class='report-card'>
              <div class='report-card__img'>
                <img
                  src='/src/assets/img/resources-blog/thumb-small-2.jpg'
                  alt=''
                  width='470'
                  height='290'
                  loading='lazy'
                />
              </div>
              <div class='report-card__body'>
                <h4 class='h6 report-card__title'>Space Exploration Ebook</h4>
                <div class='report-card__description'>
                  <p>An ebook that predicts upcoming technology trends for the
                    next year, including AI developments</p>
                </div>
              </div>
              <div class='report-card__actions'>
                <a href='#' class='btn report-card__details-link'>View Details
                </a>
                <a
                  href='#'
                  class='btn btn--dark-10 report-card__download-link'
                  download=''
                >Download PDF Now
                </a>
              </div>
            </div>
          </li>
          <li class='bordered-grid__item'>
            <div class='report-card'>
              <div class='report-card__img'>
                <img
                  src='/src/assets/img/resources-blog/thumb-small-3.jpg'
                  alt=''
                  width='470'
                  height='290'
                  loading='lazy'
                />
              </div>
              <div class='report-card__body'>
                <h4 class='h6 report-card__title'>Quantum Computing Whitepaper</h4>
                <div class='report-card__description'>
                  <p>An in-depth whitepaper exploring the principles,
                    applications.</p>
                </div>
              </div>
              <div class='report-card__actions'>
                <a href='#' class='btn report-card__details-link'>View Details
                </a>
                <a
                  href='#'
                  class='btn btn--dark-10 report-card__download-link'
                  download=''
                >Download PDF Now
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div
        class='tabs__content'
        id='tab-panel-2'
        aria-labelledby='tab-2'
        tabindex='0'
        data-js-tabs-content
      >
        <ul class='list'>
          <li class='list__item'>
            <div class='card container'>
              <div class='card__preview'>
                <div class='card__preview-main'>
                  <img
                    src='/src/assets/img/resources-blog/icon-2.svg'
                    class='card__preview-icon'
                    alt='card icon'
                    width='80'
                    height='80'
                    loading='lazy'
                  />
                  <div class='card__preview-info'>
                    <h3 class='card__preview-title'>Space Exploration Whitepaper</h3>
                    <div class='card__preview-description'>
                      <p>Explores Mars colonization, asteroid resource
                        potential, and space tourism.</p>
                    </div>
                  </div>
                </div>

              </div>
              <div class='card__body'>
                <div class='card__grid card__grid--3-cols-alt'>
                  <div class='card__cell card__cell--full-width'>
                    <img
                      src='/src/assets/img/resources-blog/thumb-2.jpg'
                      alt=''
                      class='card__cell-img'
                      width='100%'
                      height='332'
                      loading='lazy'
                    />
                  </div>
                  <div class='card__cell card__cell--full-width'>
                    <h4 class='card__cell-title'>Space Exploration Whitepaper</h4>
                    <p class='card__cell-description'>An in-depth whitepaper
                      covering the latest advancements in space exploration,
                      including Mars missions and asteroid mining.</p>
                    <a
                      href='#'
                      class='btn btn--card-cell btn--dark-10 card__cell-link'
                      download=''
                    >Download PDF Now
                      <span
                        class='icon icon--arrow icon--arrow-yellow'
                      ></span></a>
                  </div>

                  <div class='card__cell tile'>
                    <h4 class='card__cell-subtitle'>Publication Date</h4>
                    <p class='card__cell-description h6'><time
                        datetime='2024-09'
                      >September 2024</time></p>
                  </div>
                  <div class='card__cell tile'>
                    <h4 class='card__cell-subtitle'>Category</h4>
                    <p class='card__cell-description h6'>Space Exploration</p>
                  </div>
                  <div
                    class='card__cell card__cell--full-width-on-mobile-s tile'
                  >
                    <h4 class='card__cell-subtitle'>Author</h4>
                    <p class='card__cell-description h6'>FutureTech Space
                      Division</p>
                  </div>
                </div>
              </div>
            </div>

          </li>
          <li class='list__item'>
            <div class='card container'>
              <div class='card__preview'>
                <div class='card__preview-main'>
                  <img
                    src='/src/assets/img/resources-blog/icon-1.svg'
                    class='card__preview-icon'
                    alt='card icon'
                    width='80'
                    height='80'
                    loading='lazy'
                  />
                  <div class='card__preview-info'>
                    <h3 class='h3 card__preview-title'>Quantum Computing
                      Whitepaper</h3>
                    <div class='card__preview-description'>
                      <p>Provides technical specifications and requirements for
                        implementing quantum computing systems.</p>
                    </div>
                  </div>
                </div>

              </div>
              <div class='card__body'>
                <div class='card__grid card__grid--3-cols-alt'>
                  <div class='card__cell card__cell--full-width'>
                    <img
                      src='/src/assets/img/resources-blog/thumb-1.jpg'
                      alt=''
                      class='card__cell-img'
                      width='100%'
                      height='332'
                      loading='lazy'
                    />
                  </div>
                  <div class='card__cell card__cell--full-width'>
                    <h4 class='card__cell-title'>Quantum Computing Whitepaper</h4>
                    <p class='card__cell-description'>An in-depth whitepaper
                      exploring the principles, applications, and potential
                      impact of quantum computing.</p>
                    <a
                      href='#'
                      class='btn btn--card-cell btn--dark-10 card__cell-link'
                      download=''
                    >Download PDF Now
                      <span
                        class='icon icon--arrow icon--arrow-yellow'
                      ></span></a>
                  </div>
                  <div class='card__cell tile'>
                    <h4 class='card__cell-subtitle'>Publication Date</h4>
                    <p class='card__cell-description h6'><time
                        datetime='2024-07'
                      >July 2024</time></p>
                  </div>
                  <div class='card__cell tile'>
                    <h4 class='card__cell-subtitle'>Category</h4>
                    <p class='card__cell-description h6'>Quantum Computing</p>
                  </div>
                  <div
                    class='card__cell card__cell--full-width-on-mobile-s tile'
                  >
                    <h4 class='card__cell-subtitle'>Author</h4>
                    <p class='card__cell-description h6'>Dr. Quantum</p>
                  </div>
                </div>
              </div>
            </div>

          </li>

        </ul>
        <ul class='bordered-grid bordered-grid--3-cols container'>
          <li class='bordered-grid__item'>
            <div class='report-card'>
              <div class='report-card__img'>
                <img
                  src='/src/assets/img/resources-blog/thumb-small-1.jpg'
                  alt=''
                  width='470'
                  height='290'
                  loading='lazy'
                />
              </div>
              <div class='report-card__body'>
                <h4 class='h6 report-card__title'>FutureTech Trends 2025</h4>
                <div class='report-card__description'>
                  <p>An ebook that predicts upcoming technology trends for the
                    next year, including AI developments</p>
                </div>
              </div>
              <div class='report-card__actions'>
                <a href='#' class='btn report-card__details-link'>View Details
                </a>
                <a
                  href='#'
                  class='btn btn--dark-10 report-card__download-link'
                  download=''
                >Download PDF Now
                </a>
              </div>
            </div>
          </li>
          <li class='bordered-grid__item'>
            <div class='report-card'>
              <div class='report-card__img'>
                <img
                  src='/src/assets/img/resources-blog/thumb-small-2.jpg'
                  alt=''
                  width='470'
                  height='290'
                  loading='lazy'
                />
              </div>
              <div class='report-card__body'>
                <h4 class='h6 report-card__title'>Space Exploration Ebook</h4>
                <div class='report-card__description'>
                  <p>An ebook that predicts upcoming technology trends for the
                    next year, including AI developments</p>
                </div>
              </div>
              <div class='report-card__actions'>
                <a href='#' class='btn report-card__details-link'>View Details
                </a>
                <a
                  href='#'
                  class='btn btn--dark-10 report-card__download-link'
                  download=''
                >Download PDF Now
                </a>
              </div>
            </div>
          </li>
          <li class='bordered-grid__item'>
            <div class='report-card'>
              <div class='report-card__img'>
                <img
                  src='/src/assets/img/resources-blog/thumb-small-3.jpg'
                  alt=''
                  width='470'
                  height='290'
                  loading='lazy'
                />
              </div>
              <div class='report-card__body'>
                <h4 class='h6 report-card__title'>Quantum Computing Whitepaper</h4>
                <div class='report-card__description'>
                  <p>An in-depth whitepaper exploring the principles,
                    applications.</p>
                </div>
              </div>
              <div class='report-card__actions'>
                <a href='#' class='btn report-card__details-link'>View Details
                </a>
                <a
                  href='#'
                  class='btn btn--dark-10 report-card__download-link'
                  download=''
                >Download PDF Now
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div
        class='tabs__content'
        id='tab-panel-3'
        aria-labelledby='tab-3'
        tabindex='0'
        data-js-tabs-content
      >
        <ul class='list'>
          <li class='list__item'>
            <div class='card container'>
              <div class='card__preview'>
                <div class='card__preview-main'>
                  <img
                    src='/src/assets/img/resources-blog/icon-1.svg'
                    class='card__preview-icon'
                    alt='card icon'
                    width='80'
                    height='80'
                    loading='lazy'
                  />
                  <div class='card__preview-info'>
                    <h3 class='h3 card__preview-title'>Quantum Computing
                      Whitepaper</h3>
                    <div class='card__preview-description'>
                      <p>Provides technical specifications and requirements for
                        implementing quantum computing systems.</p>
                    </div>
                  </div>
                </div>

              </div>
              <div class='card__body'>
                <div class='card__grid card__grid--3-cols-alt'>
                  <div class='card__cell card__cell--full-width'>
                    <img
                      src='/src/assets/img/resources-blog/thumb-1.jpg'
                      alt=''
                      class='card__cell-img'
                      width='100%'
                      height='332'
                      loading='lazy'
                    />
                  </div>
                  <div class='card__cell card__cell--full-width'>
                    <h4 class='card__cell-title'>Quantum Computing Whitepaper</h4>
                    <p class='card__cell-description'>An in-depth whitepaper
                      exploring the principles, applications, and potential
                      impact of quantum computing.</p>
                    <a
                      href='#'
                      class='btn btn--card-cell btn--dark-10 card__cell-link'
                      download=''
                    >Download PDF Now
                      <span
                        class='icon icon--arrow icon--arrow-yellow'
                      ></span></a>
                  </div>
                  <div class='card__cell tile'>
                    <h4 class='card__cell-subtitle'>Publication Date</h4>
                    <p class='card__cell-description h6'><time
                        datetime='2024-07'
                      >July 2024</time></p>
                  </div>
                  <div class='card__cell tile'>
                    <h4 class='card__cell-subtitle'>Category</h4>
                    <p class='card__cell-description h6'>Quantum Computing</p>
                  </div>
                  <div
                    class='card__cell card__cell--full-width-on-mobile-s tile'
                  >
                    <h4 class='card__cell-subtitle'>Author</h4>
                    <p class='card__cell-description h6'>Dr. Quantum</p>
                  </div>
                </div>
              </div>
            </div>

          </li>
          <li class='list__item'>
            <div class='card container'>
              <div class='card__preview'>
                <div class='card__preview-main'>
                  <img
                    src='/src/assets/img/resources-blog/icon-2.svg'
                    class='card__preview-icon'
                    alt='card icon'
                    width='80'
                    height='80'
                    loading='lazy'
                  />
                  <div class='card__preview-info'>
                    <h3 class='card__preview-title'>Space Exploration Whitepaper</h3>
                    <div class='card__preview-description'>
                      <p>Explores Mars colonization, asteroid resource
                        potential, and space tourism.</p>
                    </div>
                  </div>
                </div>

              </div>
              <div class='card__body'>
                <div class='card__grid card__grid--3-cols-alt'>
                  <div class='card__cell card__cell--full-width'>
                    <img
                      src='/src/assets/img/resources-blog/thumb-2.jpg'
                      alt=''
                      class='card__cell-img'
                      width='100%'
                      height='332'
                      loading='lazy'
                    />
                  </div>
                  <div class='card__cell card__cell--full-width'>
                    <h4 class='card__cell-title'>Space Exploration Whitepaper</h4>
                    <p class='card__cell-description'>An in-depth whitepaper
                      covering the latest advancements in space exploration,
                      including Mars missions and asteroid mining.</p>
                    <a
                      href='#'
                      class='btn btn--card-cell btn--dark-10 card__cell-link'
                      download=''
                    >Download PDF Now
                      <span
                        class='icon icon--arrow icon--arrow-yellow'
                      ></span></a>
                  </div>

                  <div class='card__cell tile'>
                    <h4 class='card__cell-subtitle'>Publication Date</h4>
                    <p class='card__cell-description h6'><time
                        datetime='2024-09'
                      >September 2024</time></p>
                  </div>
                  <div class='card__cell tile'>
                    <h4 class='card__cell-subtitle'>Category</h4>
                    <p class='card__cell-description h6'>Space Exploration</p>
                  </div>
                  <div
                    class='card__cell card__cell--full-width-on-mobile-s tile'
                  >
                    <h4 class='card__cell-subtitle'>Author</h4>
                    <p class='card__cell-description h6'>FutureTech Space
                      Division</p>
                  </div>
                </div>
              </div>
            </div>

          </li>
        </ul>
        <ul class='bordered-grid bordered-grid--3-cols container'>
          <li class='bordered-grid__item'>
            <div class='report-card'>
              <div class='report-card__img'>
                <img
                  src='/src/assets/img/resources-blog/thumb-small-1.jpg'
                  alt=''
                  width='470'
                  height='290'
                  loading='lazy'
                />
              </div>
              <div class='report-card__body'>
                <h4 class='h6 report-card__title'>FutureTech Trends 2025</h4>
                <div class='report-card__description'>
                  <p>An ebook that predicts upcoming technology trends for the
                    next year, including AI developments</p>
                </div>
              </div>
              <div class='report-card__actions'>
                <a href='#' class='btn report-card__details-link'>View Details
                </a>
                <a
                  href='#'
                  class='btn btn--dark-10 report-card__download-link'
                  download=''
                >Download PDF Now
                </a>
              </div>
            </div>
          </li>
          <li class='bordered-grid__item'>
            <div class='report-card'>
              <div class='report-card__img'>
                <img
                  src='/src/assets/img/resources-blog/thumb-small-2.jpg'
                  alt=''
                  width='470'
                  height='290'
                  loading='lazy'
                />
              </div>
              <div class='report-card__body'>
                <h4 class='h6 report-card__title'>Space Exploration Ebook</h4>
                <div class='report-card__description'>
                  <p>An ebook that predicts upcoming technology trends for the
                    next year, including AI developments</p>
                </div>
              </div>
              <div class='report-card__actions'>
                <a href='#' class='btn report-card__details-link'>View Details
                </a>
                <a
                  href='#'
                  class='btn btn--dark-10 report-card__download-link'
                  download=''
                >Download PDF Now
                </a>
              </div>
            </div>
          </li>
          <li class='bordered-grid__item'>
            <div class='report-card'>
              <div class='report-card__img'>
                <img
                  src='/src/assets/img/resources-blog/thumb-small-3.jpg'
                  alt=''
                  width='470'
                  height='290'
                  loading='lazy'
                />
              </div>
              <div class='report-card__body'>
                <h4 class='h6 report-card__title'>Quantum Computing Whitepaper</h4>
                <div class='report-card__description'>
                  <p>An in-depth whitepaper exploring the principles,
                    applications.</p>
                </div>
              </div>
              <div class='report-card__actions'>
                <a href='#' class='btn report-card__details-link'>View Details
                </a>
                <a
                  href='#'
                  class='btn btn--dark-10 report-card__download-link'
                  download=''
                >Download PDF Now
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>