<section class='hero' aria-labelledby='hero-title'>
  <div class='hero__main container'>
    <div class='hero__body'>
      <p class='hero__subtitle'>Your Journey to Tomorrow Begins Here</p>
      <h1 class='hero__title h1 ' id='hero-title'>Explore the Frontiers of
        Artificial Intelligence</h1>
      <div class='hero__description'>
        <p>Welcome to the epicenter of AI innovation. FutureTech AI News is your
          passport to a world where machines think, learn, and reshape the
          future. Join us on this visionary expedition into the heart of AI.
        </p>
      </div>
    </div>
    <div class='hero__metrics metrics full-vw-line full-vw-line--left full-vw-line--top'>
      <dl class='metrics__list'>
        <div class='metrics__item'>
          <dt class='metrics__title'>Resources available</dt>
          <dd class='metrics__value h3'>300</dd>
        </div>
        <div class='metrics__item'>
          <dt class='metrics__title'>Total Downloads</dt>
          <dd class='metrics__value h3'>12k</dd>
        </div>
        <div class='metrics__item'>
          <dt class='metrics__title'>Active Users</dt>
          <dd class='metrics__value h3'>10k</dd>
        </div>
      </dl>
    </div>
    <div class='hero__resources-preview resources-preview'>
      <div class='resources-preview__team team'>
        <ul class='team__list'>
          <li class='team__person'><img
              src='/src/assets/img/team/1.png'
              alt=''
              width='60'
              height='60'
              loading='lazy'
            /></li>
          <li class='team__person'><img
              src='/src/assets/img/team/2.png'
              alt=''
              width='60'
              height='60'
              loading='lazy'
            /></li>
          <li class='team__person'><img
              src='/src/assets/img/team/3.png'
              alt=''
              width='60'
              height='60'
              loading='lazy'
            /></li>
          <li class='team__person'><img
              src='/src/assets/img/team/4.png'
              alt=''
              width='60'
              height='60'
              loading='lazy'
            /></li>
        </ul>
      </div>
      <div class='resources-preview__body'>
          <div class='resources-preview__title h5'>
            <p>Explore 1000+ resources</p>
          </div>
          <div class='resources-preview__subtitle'>
            <p>Over 1,000 articles on emerging tech trends and breakthroughs.</p>
          </div>          
      </div>
      <a href='#' class='resources-preview__btn btn btn--resources-preview'>
            Explore Resources
            <span class='icon icon--arrow icon--arrow-yellow'></span>
      </a>
    </div>
  </div>
  <div class='hero__advantages'>
    <h2 class='visually-hidden'>Our advantages</h2>
    {{> advantage-cards}}

  </div>
</section>