<section class='section' aria-labelledby='features-title'>
  <div class='section__header'>
    <div class='section__header-inner container'>
      <div class='section__header-info'>
        <div class='section__subtitle tag'><p>Unlock the Power of</p></div>
        <h2 class='section__title h2' id='features-title'>FutureTech Features</h2>
      </div>
    </div>
  </div>
  <div class='section__body'>
    <ul class='list'>
      <li class='list__item'>
        <div class='card container'>
          <div class='card__preview'>
            <div class='card__preview-main'>
              <img
                src='/src/assets/img/features/icon-1.svg'
                class='card__preview-icon'
                alt=''
                width='80'
                height='80'
                loading='lazy'
              />
              <div class='card__preview-info'>
                <h3 class='h3 card__preview-title'>Future Technology Blog</h3>
                <div class='card__preview-description'>
                  <p>Stay informed with our blog section dedicated to future
                    technology.</p>
                </div>
              </div>
            </div>
          </div>
          <div class='card__body'>
            <div class='card__grid card__grid--2-cols'>
              <div class='card__cell tile'>
                <h4 class='h5 card__cell-title'>Quantity</h4>
                <p class='card__cell-description'>Over 1,000 articles on
                  emerging tech trends and breakthroughs.</p>
              </div>
              <div class='card__cell tile'>
                <h4 class='h5 card__cell-title'>Variety</h4>
                <p class='card__cell-description'>Articles cover fields like AI,
                  robotics, biotechnology, and more.</p>
              </div>
              <div class='card__cell tile'>
                <h4 class='h5 card__cell-title'>Frequency</h4>
                <p class='card__cell-description'>Fresh content added daily to
                  keep you up to date.</p>
              </div>
              <div class='card__cell tile'>
                <h4 class='h5 card__cell-title'>Authoritative</h4>
                <p class='card__cell-description'>Written by our team of tech
                  experts and industry professionals.</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class='list__item'>
        <div class='card container'>
          <div class='card__preview'>
            <div class='card__preview-main'>
              <img
                src='/src/assets/img/features/icon-2.svg'
                class='card__preview-icon'
                alt=''
                width='80'
                height='80'
                loading='lazy'
              />
              <div class='card__preview-info'>
                <h3 class='h3 card__preview-title'>Research Insights Blogs</h3>
                <div class='card__preview-description'>
                  <p>Dive deep into future technology concepts with our research
                    section.</p>
                </div>
              </div>
            </div>
          </div>
          <div class='card__body'>
            <div class='card__grid card__grid--2-cols'>
              <div class='card__cell tile'>
                <h4 class='h5 card__cell-title'>Depth</h4>
                <p class='card__cell-description'>500+ research articles for
                  in-depth understanding.</p>
              </div>
              <div class='card__cell tile'>
                <h4 class='h5 card__cell-title'>Graphics</h4>
                <p class='card__cell-description'>Visual aids and infographics
                  to enhance comprehension.</p>
              </div>
              <div class='card__cell tile'>
                <h4 class='h5 card__cell-title'>Trends</h4>
                <p class='card__cell-description'>Explore emerging trends in
                  future technology research.</p>
              </div>
              <div class='card__cell tile'>
                <h4 class='h5 card__cell-title'>Contributors</h4>
                <p class='card__cell-description'>Contributions from tech
                  researchers and academics.</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>