<section class='section' aria-labelledby='testimonials-title'>
  <div class='section__header'>
    <div class='section__header-inner container'>
      <div class='section__header-info'>
        <div class='section__subtitle tag'><p>What Our Readers Say</p></div>
        <h2 class='section__title h2' id='testimonials-title'>Real Words from
          Real Readers</h2>
      </div>
      <div class='section__actions'>
        <a href='#' class='btn btn--section section__link'>View All Testimonials
          <span class='icon icon--arrow icon--arrow-yellow'></span></a>
      </div>
    </div>
  </div>
  <div class='section__body'>
    <ul class='bordered-grid bordered-grid--3-cols container'>
      {{> testimonials-card}}
    </ul>

  </div>
</section>