<section class='about-us' aria-labelledby='about-us-title'>
  <div class='about-us__inner container'>
    <header class='about-us__header'>
      <svg class='sprite-icon about-us__icon' aria-hidden='true'>
        <use xlink:href='src/assets/icons/sprite.svg#about-us-icon-logo'></use>
      </svg>

      <div class='about-us__subtitle tag'>
        <p>Learn, Connect, and Innovate</p>
      </div>
      <h2 class='about-us__title' id='about-us-title'>Be Part of the Future Tech
        Revolution
      </h2>

      <p class='about-us__description'>Immerse yourself in the world of future
        technology. Explore our comprehensive resources, connect with fellow
        tech enthusiasts, and drive innovation in the industry. Join a dynamic
        community of forward-thinkers.
      </p>
    </header>
    <ul class='about-us__list'>
      <li class='about-us__item'>
        <a href='#' class='about-us-card tile'>
          <h3 class='about-us-card__title'>Resource Access</h3>
          <div class='about-us-card__description'>
            <p>Visitors can access a wide range of resources, including ebooks,
              whitepapers, reports.</p>
          </div>
        </a>
      </li>
      <li class='about-us__item'>
        <a href='#' class='about-us-card tile'>
          <h3 class='about-us-card__title'>Community Forum</h3>
          <div class='about-us-card__description'>
            <p>Join our active community forum to discuss industry trends and
              collaborate with peers.</p>
          </div>
        </a>
      </li>
      <li class='about-us__item'>
        <a href='#' class='about-us-card tile'>
          <h3 class='about-us-card__title'>Tech Events</h3>
          <div class='about-us-card__description'>
            <p>Stay updated on upcoming tech events, webinars and conferences to
              enhance your knowledge.</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>