<section class='section' aria-labelledby='resources-title'>
  <div class='section__header'>
    <div class='section__header-inner container'>
      <div class='section__header-info'>
        <div class='section__subtitle tag'><p>Your Gateway to In-Depth
            Information</p></div>
        <h2 class='section__title h2' id='resources-title'>Unlock Valuable
          Knowledge with FutureTech's Resources</h2>
      </div>
      <div class='section__actions'>
        <a href='#' class='btn btn--section section__link'>View All Resources
          <span class='icon icon--arrow icon--arrow-yellow'></span></a>
      </div>
    </div>
  </div>
  <div class='section__body'>
    <ul class='list'>
      <li class='list__item'>
        <div class='card container'>
          <div class='card__preview'>
            <div class='card__preview-main'>
              <img
                src='/src/assets/img/resources/icon-1.svg'
                class='card__preview-icon'
                alt='card icon'
                width='80'
                height='80'
                loading='lazy'
              />
              <div class='card__preview-info'>
                <h3 class='h3 card__preview-title'>Ebooks</h3>
                <div class='card__preview-description'>
                  <p>Explore our collection of ebooks covering a wide spectrum
                    of future technology topics.</p>
                </div>
              </div>
              <a href='#' class='card__preview-link btn btn--dark-gray'>Download
                Ebooks Now
                <span class='icon icon--arrow icon--arrow-yellow'></span>
              </a>
            </div>
            <div class='card__preview-extra'>
              <div class='download-info tile'>
                <div class='download-info__body'>
                  <p class='download-info__title'>Downloaded By</p>
                  <p class='download-info__subtitle h5'>10k + Users</p>
                </div>
                <div class='download-info__team team'>
                  <ul class='team__list'>
                    <li class='team__person'><img
                        src='/src/assets/img/team/1.png'
                        alt=''
                        width='50'
                        height='50'
                        loading='lazy'
                      /></li>
                    <li class='team__person'><img
                        src='/src/assets/img/team/2.png'
                        alt=''
                        width='50'
                        height='50'
                        loading='lazy'
                      /></li>
                    <li class='team__person'><img
                        src='/src/assets/img/team/3.png'
                        alt=''
                        width='50'
                        height='50'
                        loading='lazy'
                      /></li>
                    <li class='team__person'><img
                        src='/src/assets/img/team/4.png'
                        alt=''
                        width='50'
                        height='50'
                        loading='lazy'
                      /></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class='card__body'>
            <div class='card__grid card__grid--2-cols-alt'>
              <div class='card__cell'>
                <h3 class='h5 card__cell-title'>Variety of Topics</h3>
              </div>
              <div class='card__cell'>
                <p class='card__cell-description'>Topics include AI in education
                  (25%), renewable energy (20%), healthcare (15%), space
                  exploration (25%), and biotechnology (15%).</p>
              </div>
              <div class='card__cell card__cell--full-width'>
                <img
                  src='/src/assets/img/resources/list-item-1-bg.jpg'
                  alt=''
                  class='card__cell-img'
                  width='100%'
                  height='332'
                  loading='lazy'
                />
              </div>
              <div class='card__cell tile'>
                <h4 class='card__cell-subtitle'>Total Ebooks</h4>
                <p class='card__cell-description h6'>Over 100 ebooks</p>
              </div>
              <div class='card__cell tile'>
                <h4 class='card__cell-subtitle'>Download Formats</h4>
                <p class='card__cell-description h6'>PDF format for access.</p>
                <a href='#' class='btn btn--card-cell card__cell-link'>Preview
                  <span class='icon icon--eye icon--eye-yellow'></span></a>
              </div>
              <div class='card__cell card__cell--full-width tile'>
                <h4 class='card__cell-subtitle'>Average Author Expertise</h4>
                <p class='card__cell-description h6'>Ebooks are authored by
                  renowned experts with an average of 15 years of experience</p>
              </div>

            </div>
          </div>
        </div>
      </li>
      <li class='list__item'>
        <div class='card container'>
          <div class='card__preview'>
            <div class='card__preview-main'>
              <img
                src='/src/assets/img/resources/icon-2.svg'
                class='card__preview-icon'
                alt='card icon'
                width='80'
                height='80'
                loading='lazy'
              />
              <div class='card__preview-info'>
                <h3 class='h3 card__preview-title'>Whitepapers</h3>
                <div class='card__preview-description'>
                  <p>Dive into comprehensive reports and analyses with our
                    collection of whitepapers.
                  </p>
                </div>
              </div>
              <a href='#' class='card__preview-link btn btn--dark-gray'>Download
                Whitepapers Now
                <span class='icon icon--arrow icon--arrow-yellow'></span>
              </a>
            </div>
            <div class='card__preview-extra'>
              <div class='download-info tile'>
                <div class='download-info__body'>
                  <p class='download-info__title'>Downloaded By</p>
                  <p class='download-info__subtitle h5'>12k + Users</p>
                </div>
                <div class='download-info__team team'>
                  <ul class='team__list'>
                    <li class='team__person'><img
                        src='/src/assets/img/resources/1.png'
                        alt=''
                        width='50'
                        height='50'
                        loading='lazy'
                      /></li>
                    <li class='team__person'><img
                        src='/src/assets/img/resources/2.png'
                        alt=''
                        width='50'
                        height='50'
                        loading='lazy'
                      /></li>
                    <li class='team__person'><img
                        src='/src/assets/img/resources/3.png'
                        alt=''
                        width='50'
                        height='50'
                        loading='lazy'
                      /></li>
                    <li class='team__person'><img
                        src='/src/assets/img/resources/4.png'
                        alt=''
                        width='50'
                        height='50'
                        loading='lazy'
                      /></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class='card__body'>
            <div class='card__grid card__grid--2-cols-alt'>
              <div class='card__cell'>
                <h3 class='h5 card__cell-title'>Topics Coverage</h3>
              </div>
              <div class='card__cell'>
                <p class='card__cell-description'>Whitepapers cover quantum
                  computing (20%), AI ethics (15%), space mining prospects
                  (20%), AI in healthcare (15%), and renewable energy strategies
                  (30%).</p>
              </div>
              <div class='card__cell card__cell--full-width'>
                <img
                  src='/src/assets/img/resources/list-item-2-bg.jpg'
                  alt=''
                  class='card__cell-img'
                  width='100%'
                  height='332'
                  loading='lazy'
                />
              </div>
              <div class='card__cell tile'>
                <h4 class='card__cell-subtitle'>Total Whitepapers</h4>
                <p class='card__cell-description h6'>Over 50 whitepapers</p>
              </div>
              <div class='card__cell tile'>

                <h4 class='card__cell-subtitle'>Download Formats</h4>
                <p class='card__cell-description h6'>PDF format for access.</p>

                <a href='#' class='btn btn--card-cell card__cell-link'>Preview
                  <span class='icon icon--eye icon--eye-yellow'></span></a>
              </div>
              <div class='card__cell card__cell--full-width tile'>
                <h4 class='card__cell-subtitle'>Average Author Expertise</h4>
                <p class='card__cell-description h6'>Whitepapers are authored by
                  subject matter experts with an average of 20 years of
                  experience.</p>
              </div>

            </div>
          </div>
        </div>
      </li>
    </ul>

  </div>
</section>